* {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

  }
  
  .header{
  display: flex; 
  height: 40px;
  padding: 8px;
  background-color: rgba(204, 111, 53)  

  }
  
  
  ul {
   display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;    
    margin-right: 20 px;
    margin-left: 820px;
    font-size: 14px;
  
  }
  
  a {
    text-decoration: none;
    color: white;
    
  }
  
 .block1 {
  display: flex;
  align-items: center;
  padding: 75px;
  flex: 1 1 auto;
  gap: 40px;
  background-color: rgb(109, 69, 69);

  }

  .sthalf {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 500px;
    height: auto;
    color:antiquewhite;

  }

  #king {
    width: 400px;
    height: 300px;
    flex: 1 1 0
  }

  #danger {
    width: 100px;
    height: auto;
    background-color: rgb(186, 33, 33);
    border-color: rgb(32, 19, 19);
    font-size: 16px;
    padding: 4px;
    border-radius: 6px;
    border: 3

  }

  .block2 {
    display: flex;
    align-items: center;
    padding: 25px;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: rgb(167, 190, 225);
  }

.info {
  max-width: 170px;
}

 img {
    width: 160px;
  }

.pics {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 60px;
  text-wrap: wrap;
}

  .block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 145px;
    flex: 1 1 auto;
    font-weight: 800;
    background-color: rgb(115, 174, 130);
  }

  #credit {
    display: flex;
    font-style: italic;
    margin-left: auto;

  }

  .block4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px;
    flex: 1 2 auto;
    background-color: rgb(207, 195, 195);
  }

  .box {
    background-color: rgb(18, 127, 163);
    display: flex;
    padding: 30px;
    width: 500px;
    height: 250pz;
    border-radius: 10px;
    align-items: center;
  }

  #transmute {
    width: 120px;
    display: flex;
    padding: 10px;
    align-items: center;
    height: 40px;
    border-radius: 7px;
    flex: 1;
    font-size: 16px;
    background-color: rgb(5, 55, 116);
    border: 0;
    color: blanchedalmond;
  }

  
  footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(204, 111, 53)  
    
  }
  
  #logo {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
    font-size: 26px;
  
  }